k<div class="pagenavi">
<span class="pages"><% if @paginator.next_page %>
    <% next_link = path_to_page(@paginator.next_page, @tag) %>
    <li><a class="pure-button prev" href="<%= next_link %>"></a></li>
  <% end %>
</span>
<span class="current">
<% @paginator.pages.each do |page| %>
    <% page_class = 'pure-button' %>
    <% page_class << ' pure-button-active' if @paginator.page == page %>

    <li><%= link_to page, path_to_page(page, @tag), class: page_class %></li>
  <% end %>


</span>
<% if @paginator.prev_page %>
    <% prev_link = path_to_page(@paginator.prev_page, @tag) %>
    <li> <a class="pure-button prev" href="<%= prev_link %>"> </li>
  <% end %>
</a></div>
 
 

