<div class="clearfix content">

							<div class="single_work_page_content">
								<%= render 'blogo/posts/post' %> 							
							</div>
<div class="more_works">
								<h2> <%= render 'blogo/posts/social_share' %></h2>
								<p><%= render 'blogo/posts/disqus_comments' %></p>
							</div>							
</div>
