<div class="clearfix content">

							<div class="single_work_page_content">
								<%= render 'blogo/posts/post' %>
<!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox"></div>
							</div>
<div class="more_works">
								<p><%= render 'blogo/posts/disqus_comments' %></p>
							</div>							
</div>
